@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8;
  color: #333;
}

.about,.interest{
  background-color: #f4d2e3;
  
}
.cards{
  background-color:#ffffff;
  
}
h1, h2, h3, h4, h5, h6 {
  margin: 2px;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1e90ff;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

button {
  cursor: pointer;
}

button:focus {
  outline: 2px solid #a4e43c;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #A8F1FF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
  margin: 0 15px;
}

.navbar a:focus {
  outline: 2px solid #1e90ff;
}
.tooltip {
  background-color: #a066e7;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}